<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户列表')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
    <style>
        .my-search-collapse {
            width: 100%;
            background: #fff;
            border-radius: 6px;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 6px;
            box-shadow: 1px 1px 3px rgba(0,0,0,.2);
        }

        body .demo-class .layui-layer-setwin .layui-layer-close1{
            background-position: -148px -33px;
            cursor: pointer;
            cursor: pointer;
            width: 35px;
            height: 35px;
            top: -6px;
        }
    </style>
</head>
<body class="gray-bg">
<div class="ui-layout-west">
    <div class="main-content">
        <div class="box box-main">
            <div class="box-header">
                <div class="box-title">
                    <i class="fa icon-grid"></i> 目录列表
                </div>
            </div>
            <div class="ui-layout-content">
                <div id="tree" class="ztree"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-div ui-layout-center">
    <div class="row">
        <div class="col-sm-12 my-search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        <div id="showTitle"><a href="#" title="/" onclick="fileNameClickOther('/',this);">[[${root}]]/</a></div>
                    </li>
                    <li>
                        <a class="btn btn-info btn-xs"  onclick="copyPath();"><i class="fa fa-copy"></i>&nbsp;&nbsp;复制</a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs"  onclick="editJump()"><i class="fa fa-link"></i>&nbsp;编辑跳转</a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="col-sm-12 search-collapse">
            <div class="form-group">
                <div class="select-list">
                    <ul>
                        <li>
                            <a class="btn btn-info" onclick="webUpload()" shiro:hasPermission="project:publishCosFiles:upload"><i
                                    class="fa fa-upload"></i>上传</a>
                        </li>
                        <!--<li>
                            <a class="btn btn-success" onclick="streamUpload();" shiro:hasPermission="project:publishCosFiles:upload">
                                <i class="fa fa-upload"></i> 上传
                            </a>
                        </li>-->
                        <li>
                            <a class="btn btn-info" onclick="newWebUpload()" shiro:hasPermission="project:publishCosFiles:newUpload"><i class="fa fa-upload"></i>新上传</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" onclick="createFolder()" shiro:hasPermission="project:publishCosFiles:createFolder">
                                <i class="fa fa-folder"></i>&nbsp;创建文件夹
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-del" onclick="batchDownloadFiles();" shiro:hasPermission="project:publishCosFiles:batchDownload">
                                <i class="fa fa-download"></i> 批量下载
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-info" onclick="getHistoryVersion();" shiro:hasPermission="project:publishCosFiles:history">
                                <i class="fa fa-history"></i> 历史版本
                            </a>
                        </li>
                        <li>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-danger btn-del" onclick="batchRemoveFiles();" shiro:hasPermission="project:publishCosFiles:batchRemove">
                                <i class="fa fa-trash-o"></i> 批量删除
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="hr-line-dashed"></div>
            <form id="user-form">
                <input type="hidden" id="title" name="title" value="/">
                <input type="hidden" id="platform" name="platform" th:value="${platform}">
                <input type="hidden" id="filterFlag" name="filterFlag">
                <div class="select-list">
                    <ul>
                        <li>
                            名称：<input type="text" name="fileName" id="fileName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="search1();" id="search"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                        <li style="float: right">
                            <button style="width: 40px;" class="btn btn-default btn-outline" type="button" onclick="rightRefresh()" name="refresh" aria-label="刷新" title="刷新"><i class="glyphicon glyphicon-refresh icon-refresh"></i> </button>
                            <button style="width: 40px;" class="btn btn-default btn-outline" type="button" onclick="toggleCustomView()" name="customView" aria-label="Toggle custom view" title="Toggle custom view"><i class="glyphicon glyphicon glyphicon-eye-open"></i> </button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped" id="tableDiv" style="height: calc(100% - 213px);overflow: auto">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
            <div id="customViewDiv"  style="display: none;">
                <div class="row mx-0" id="customViewRowDiv">
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: ztree-js" />
<script th:inline="javascript">
    var showFlag = [[${@permission.hasPermi('project:publishCosFiles:showImage')}]];
    var downloadFlag = [[${@permission.hasPermi('project:publishCosFiles:download')}]];
    var removeFlag = [[${@permission.hasPermi('project:publishCosFiles:remove')}]];
    var renameFlag = [[${@permission.hasPermi('project:publishCosFiles:rename')}]];
    var publishOperationLogFlag = [[${@permission.hasPermi('project:publishOperationLog:view')}]];
    var codeonlineFlag = [[${@permission.hasPermi('project:publishCosFiles:codeOnline')}]];
    var prefix = ctx + "project/publishCosFiles";

    var start = function() {
        //console.log("===================start()====================");
        var imgs = $('.bootstrap-table tbody>tr').not('.dataloaded'); // 选择出未加载的图片
        if (imgs.length) {
            // 遍历循环
            $.each(imgs, function (k, y) {
                var _this = $(this), _o = _this.offset().top, _h = $('#tableDiv').scrollTop() +
                    $('.search-collapse').height() + $('#tableDiv').height()+$('.my-search-collapse').height()+50;
                //console.log("====ind:"+k+"====_o:"+_o+"======_h:"+_h);
                // 可视区判断
                if (_o <= _h) {
                    var filenameobj = _this.find("td:eq(1)");
                    var fileType = _this.find("td:eq(3)").text();
                    // 加载图片，并标记
                    loadImg(_this);
                    if (fileType != "-" && ("jpg" == fileType.toLowerCase() || "png" == fileType.toLowerCase() ||
                        "gif" == fileType.toLowerCase() || "jpeg" == fileType.toLowerCase())) {
                        var path = $("#title").val();
                        var imgurl = domain+path+filenameobj.find('a').attr('title');

                        var img = new Image(); img.src = imgurl;

                        if (img.complete) {
                            var _w = img.width, _h = img.height;
                            var text = filenameobj.text();
                            var text2 = text+"("+_w+"*"+_h+")";
                            filenameobj.find('a').find('span').text(text2);
                        }else {
                            img.onload = function () {
                                var _w = img.width, _h = img.height;
                                var text = filenameobj.text();
                                var text2 = text+"("+_w+"*"+_h+")";
                                filenameobj.find('a').find('span').text(text2);
                            }
                        }
                        //console.log("start()======"+filenameobj.find('a').find('span').text());
                    }
                } else { // ps：超出可视区外的图片不再循环，防止资源消耗过多
                    return false;
                }
            })
        } else {
            // 所有图片都已加载，禁止事件监听
            $('#tableDiv').off('scroll');
        }

    }

    var start1 = function() {
        //console.log("===================start1()====================");
        var imgs = $('.trdata').not('.dataloaded'); // 选择出未加载的图片
        //console.log("----------run-------------------"+imgs.length)
        if (imgs.length) {
            // 遍历循环
            $.each(imgs, function (k, y) {
                var _this = $(this), _o = _this.offset().top, _h = $('#tableDiv').scrollTop() + $('.search-collapse').height() + $('#tableDiv').height();
                // 可视区判断
                if (_o <= _h) {
                    var textcenterdivobj = _this.find("div:eq(1)").find("a").find("div");
                    //console.log("111"+textcenterdivobj.html());
                    var img = textcenterdivobj.find("img");
                    var fileType = img.attr("data-type");
                    //console.log("222"+fileType);
                    // 加载图片，并标记
                    loadImg(_this);
                    if (fileType != undefined && fileType != "-" && ("jpg" == fileType.toLowerCase() || "png" ==
                        fileType.toLowerCase() ||
                        "gif" == fileType.toLowerCase() || "jpeg" == fileType.toLowerCase())) {
                        var imgurl = img.attr("src");
                        //console.log("333"+imgurl);
                        var namediv = textcenterdivobj.find("div").find("div");
                        var text = namediv.text();
                        var img = new Image(); img.src = imgurl;

                        if (img.complete) {
                            var _w = img.width, _h = img.height;
                            var text2 = text+"("+_w+"*"+_h+")";
                            namediv.text(text2);
                        }else {
                            img.onload = function () {
                                var _w = img.width, _h = img.height;
                                var text2 = text + "(" + _w + "*" + _h + ")";
                                namediv.text(text2);
                            }
                        }
                        //console.log("start1()======"+namediv.text());
                    }
                } else { // ps：超出可视区外的图片不再循环，防止资源消耗过多
                    return false;
                }
            })
        } else {
            // 所有图片都已加载，禁止事件监听
            $('#tableDiv').off('scroll');
        }

    }

    function loadImg($img) {
        //$img.attr('src', $img.attr('data-src'));
        $img.addClass('dataloaded');
    }

    $(function() {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({ initClosed: panehHidden, west__size: 250 });
        queryPublishCosFilesList();
        queryPublishCosFilesTree();
    });

    function search1() {
        $.modal.loading("数据加载中");
        $.table.search();
    }

    var domain = [[${cosdomain}]];
    function queryPublishCosFilesList() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            modalName: "腾讯云文件管理",
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            responseHandler: responseHandler,
            onLoadSuccess: onLoadSuccess,
            columns: [{
                checkbox: true
            },
                {
                    field: 'title',
                    title: '全路径',
                    visible: false
                },
                {
                    field: 'fileName',
                    title: '文件名',
                    formatter: function(value, row, index) {
                        var showname = value;
                        if (row.directory) {
                            var title = row.title;
                            row.showName = showname;
                            return '<a href="#" onclick="fileNameClick('+"'"+title+"'"+');" title="'+value+'"><i class="fa fa-folder"></i>&nbsp;<span>'+showname+'</span></a>';
                        }else {
                            row.showName = showname;
                            return '<a href="javascript:void(0)" ondblclick="renameFile(\''+row.title+'\',\''+value+'\')" title="'+value+'"><i class="fa fa-file"></i><span>'+showname+'</span></a> ';

                        }
                    },
                    sortable:true
                },
                {
                    field: 'fileSize',
                    title: '大小',
                    formatter: function(value, row, index) {
                        var fileSize = row.fileSize;
                        if (fileSize != null) {
                            var number1024 = 1<<10;
                            var number1048576 = 1<<20;
                            var number1073741824 = 1<<30;
                            if (fileSize > number1024) {
                                if (fileSize > number1048576) {
                                    if (fileSize > number1073741824) {
                                        var fixed = (fileSize/number1073741824).toFixed(2);
                                        return fixed+"GB";
                                    }else {
                                        var fixed = (fileSize/number1048576).toFixed(2);
                                        return fixed+"MB";
                                    }
                                }else {
                                    var fixed = (fileSize/number1024).toFixed(2);
                                    return fixed+"KB";
                                }
                            }else {
                                return fileSize+"B";
                            }
                        }else {
                            return "-";
                        }
                    }
                },
                {
                    field: 'fileType',
                    title: '文件类型',
                    formatter: function(value, row, index) {
                        var showname = value;
                        if (showname == null) {
                            return "-";
                        }
                        if (showname.length > 15) {
                            showname = value.substr(0,14)+"...";
                        }
                        var html = "<div title='"+value+"'>"+showname+"</div>";
                        return html;
                    },
                    sortable:true
                },
                {
                    field: 'updateTime',
                    title: '修改时间',
                    sortable:true
                },
                {
                    title: '操作',
                    align: 'left',
                    cellStyle: function (value, row, index) {
                        return {css: {"overflow": "hidden", "text-overflow": "ellipsis", "white-space": "nowrap"}}
                    },
                    formatter: function(value, row, index) {
                        var actions = [];
                        var fileType = row.fileType;
                        var imgflag = fileType != null && ("jpg" == fileType.toLowerCase() || "png" == fileType.toLowerCase() || "gif" == fileType.toLowerCase() || "jpeg" == fileType.toLowerCase());
                        if (imgflag) {
                            actions.push('<a class="btn btn-success btn-xs ' + showFlag + '" href="javascript:void(0)" onclick="showImage(\'' + row.filePath + '\')"><i class="fa fa-leaf"></i>预览</a> ');
                        }
                        if (row.directory) {
                            //文件夹
                            actions.push('<a class="btn btn-primary btn-xs ' + downloadFlag + '" href="javascript:void(0)" onclick="downloadDirectory(\'' + row.title + '\',\''+row.fileName+'\')"><i class="fa fa-download"></i>下载</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="removeDirectory(\'' + row.title + '\')"><i class="fa fa-remove"></i>删除</a> ');
                            actions.push('<a class="btn badge-warning btn-xs ' + publishOperationLogFlag + '" href="javascript:void(0)" onclick="operationLog(\'' + row.title + '\',\''+row.fileName+'\','+true+')"><i class="fa fa-list"></i>操作日志</a> ');
                        }else {
                            //文件
                            actions.push('<a class="btn btn-primary btn-xs ' + downloadFlag + '" href="javascript:void(0)" onclick="downloadFile(\'' + row.filePath + '\',\''+row.fileName+'\')"><i class="fa fa-download"></i>下载</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="removeFile(\'' + row.title + '\')"><i class="fa fa-remove"></i>删除</a> ');
                            actions.push('<a class="btn btn-info btn-xs ' + renameFlag +
                                '" href="javascript:void(0)" onclick="renameFile(\''+row.title+'\',\''+row.fileName+'\')"><i class="fa fa-pencil"></i>重命名</a> ');
                            actions.push('<a class="btn badge-warning btn-xs ' + publishOperationLogFlag + '" href="javascript:void(0)" onclick="operationLog(\'' + row.title + '\',\''+row.fileName+'\','+false+')"><i class="fa fa-list"></i>操作日志</a> ');
                        }

                        //文件类型的 后缀 js css html txt xml 可以编辑
                        var editflag = fileType != null && ("js" == fileType.toLowerCase() || "css" == fileType.toLowerCase()
                            || "html" == fileType.toLowerCase() || "txt" == fileType.toLowerCase() || "xml" == fileType.toLowerCase()
                            || "shtml" == fileType.toLowerCase());
                        //备份目录的文件不能在线编辑
                        if (editflag && row.title.indexOf("ei_cos_bak") < 0) {
                            actions.push('<a class="btn badge-primary btn-xs ' + codeonlineFlag + '" href="javascript:void(0)" onclick="codeonline(\'' + row.fileName + '\')"><i class="fa fa-list"></i>在线编辑</a> ');
                        }

                        //20220330增加卡片试图相关数据写入
                        //	自适应重写数据的时候如果是第一行数据将预览视图清空
                        var showname = row.showName;
                        if(index==0){
                            $("#customViewRowDiv").html("");
                        }
                        var customViewHtml = "";
                        customViewHtml += "<div class=\"col-sm-2 trdata\" style=\"height: 200px\">";
                        customViewHtml += "<div class=\"ibox-tools\"  style=\"margin-right:20px\">";
                        customViewHtml += "<a class=\"dropdown-toggle\" data-toggle=\"dropdown\" href=\"#\">";
                        customViewHtml += "<i class=\"fa fa-gear\"></i>";
                        customViewHtml += "</a>";
                        customViewHtml += "<ul class=\"dropdown-menu dropdown-user\">";
                        if (row.directory) {
                            //文件夹
                            customViewHtml += "<li><a class="+downloadFlag+" href=\"javascript:void(0)\" onclick=\"downloadDirectory('" + row.title + "','"+row.fileName+"')\">下载</a>";
                            customViewHtml += "</li>";
                            customViewHtml += "<li><a class="+removeFlag+" href=\"javascript:void(0)\" onclick=\"removeDirectory('" + row.title + "')\">删除</a>";
                            customViewHtml += "</li>";
                        }else {
                            //文件
                            customViewHtml += "<li><a class="+downloadFlag+" href=\"javascript:void(0)\" onclick=\"downloadFile('" + row.filePath + "','"+row.fileName+"')\">下载</a>";
                            customViewHtml += "</li>";
                            customViewHtml += "<li><a class="+removeFlag+" href=\"javascript:void(0)\" onclick=\"removeFile('" + row.title + "')\">删除</a>";
                            customViewHtml += "</li>";
                            customViewHtml +=
                                "<li><a class="+renameFlag+" href=\"javascript:void(0)\" onclick=\"renameFile('"+row.title+"','"+row.fileName+"')\">重命名</a>";
                            customViewHtml += "</li>";
                        }

                        //文件类型的 后缀 js css html txt xml 可以编辑   备份目录的文件不能在线编辑
                        if (editflag && row.title.indexOf("ei_cos_bak") < 0) {
                            customViewHtml += "<li><a class="+codeonlineFlag+" href=\"javascript:void(0)\" onclick=\"codeonline('"+row.fileName+"')\">在线编辑</a>";
                            customViewHtml += "</li>";
                        }

                        if (imgflag) {
                            customViewHtml += "<li><a class="+showFlag+" href=\"javascript:void(0)\" onclick=\"showImage('" + row.filePath + "')\">预览</a>";
                            customViewHtml += "</li>";
                        }
                        customViewHtml += "</ul>";
                        customViewHtml += "</div>";

                        customViewHtml += "<div class=\"contact-box\">";
                        customViewHtml += "<a href=\"javascript:void(0)\" ";
                        if(row.directory){
                            customViewHtml +="ondblclick=\"fileNameClick('"+row.title+"');\"";
                        }else {
                            if (imgflag) {
                                customViewHtml +="onclick=\"showImage('"+row.filePath+"');\"";
                            }
                        }
                        customViewHtml +=">";
                        customViewHtml += "<div class=\"col-sm-12\">";
                        customViewHtml += "<div class=\"text-center\">";
                        customViewHtml +=
                            "<img alt=\"image\" style=\"display: block;max-width: 100%;height: 120px;\" src=\"";

                        if (row.directory) {
                            customViewHtml += "../img/folder.png";
                            customViewHtml += "\" ";
                            customViewHtml += " data-type=\"-\"";
                        }else {
                            if (imgflag) {
                                var imgurl = [[${cosdomain}]]+row.filePath;
                                customViewHtml+=imgurl;
                            }else {
                                customViewHtml += "../img/file.png";
                            }
                            customViewHtml += "\" ";
                            customViewHtml += " data-type=\"";
                            customViewHtml += row.fileType+"\"";
                        }
                        if (imgflag) {
                            customViewHtml += " data-index=\"";
                            customViewHtml += index+"\"";
                            customViewHtml += " class=\"my-img\"";
                        }
                        customViewHtml += " >";

                        customViewHtml += "<div style=\"height: 10px\" class=\"m-t-xs font-bold\"";
                        customViewHtml += "title=\"";
                        customViewHtml += row.fileName;
                        customViewHtml += "\" ><span>";
                        customViewHtml += showname;
                        customViewHtml += "</span></div>";
                        customViewHtml += "</div>";
                        customViewHtml += "</div>";
                        customViewHtml += "<div class=\"clearfix\"></div>";
                        customViewHtml += "</a>";
                        customViewHtml += "</div>";
                        customViewHtml += "</div>";

                        $("#customViewRowDiv").append(customViewHtml);

                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    function responseHandler(res){
        $.modal.closeLoading();
        if(res.total==0){
            $("#customViewRowDiv").html("<h1 style=\"text-align: center;\">空空如也</h1>");
        }else {
            $("#customViewRowDiv").html("");
        }
        showTitleClickOnTree($("#title").val());
    }

    function onLoadSuccess(res){
        if($('#customViewDiv').is(':hidden')){
            $(window).off('scroll',start1);
            start();
            // 绑定 scroll 事件，用于监听元素是否进入可视区
            $('#tableDiv').scroll(function () {
                start();
            })
        }else {
            $(window).off('scroll',start);
            start1();
            // 绑定 scroll 事件，用于监听元素是否进入可视区
            $('#tableDiv').scroll(function () {
                start1();
            })
        }

        /*$.each($('.my-img'),function(i,item){
            var index = $(this).attr("data-index");

            var img = new Image();
            img.src = $(this).attr("src");
            if (img.complete) {
                // 如果图片被缓存，则直接返回缓存数据
                $("#bootstrap-table").bootstrapTable('updateRow', {
                    index: index, // 你想修改哪行，0表示第一行
                    row: {
                        length: img.width+"*"+img.height,
                    }
                })
            } else {
                img.onload = function () {
                    $("#bootstrap-table").bootstrapTable('updateRow', {
                        index: index, // 你想修改哪行，0表示第一行
                        row: {
                            length: img.width+"*"+img.height,
                        }
                    })
                }
            }
        });*/

    }

    function rightRefresh(){
        $.modal.loading("数据加载中");
        $.table.search();
    }

    //回车事件
    $("#fileName").bind("keydown",function(e){
        // 兼容FF和IE和Opera
        var theEvent = e || window.event;
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
        //console.log(code);
        if (code == 13) {
            //回车执行查询
            $.modal.loading("数据加载中");
            $("#search").trigger("click");
            return false;
        }
    });

    //切换列表和块的方法
    function toggleCustomView(){
        if($('#customViewDiv').is(':hidden')){
            $(window).off('scroll',start);
            start1();
            // 绑定 scroll 事件，用于监听元素是否进入可视区
            $('#tableDiv').scroll(function () {
                start1();
            })
            $('#customViewDiv').show();
            $('#bootstrap-table').hide();
        }else{
            $(window).off('scroll',start1);
            $('#tableDiv').scroll(function () {
                start();
            })
            $('#customViewDiv').hide();
            $('#bootstrap-table').show();
        }
    }

    //获取根目录下的文件夹
    function queryPublishCosFilesTree()
    {
        var setting = {
            callback: {
                onClick: zTreeOnClick,
                onExpand: myTreeOnExpand,
                onCollapse: myTreeOnCollapse
            }
        };
        var zNodes =[];
        $.ajax({
            type:"post",
            url:prefix+"/treeData",
            dataType:"json",
            data:{},
            success:function (res) {
                if (res.code == 0) {
                    var data = res.data;
                    data.forEach(function (e, index) {
                        //var node = {name:e,isParent:true};
                        var node = {name:e.name,isParent:e.isParent,title:e.name};
                        zNodes.push(node);
                    });
                    $.fn.zTree.init($("#tree"), setting, zNodes);
                }else {
                    if("未登录或登录超时。请重新登录"==res.msg){
                        window.location=ctx+"login";
                    }else {
                        if("未登录或登录超时。请重新登录"==res.msg){
                            window.location=ctx+"login";
                        }else {
                            $.modal.alertWarning("无数据");
                        }
                    }
                }
            }
        });
    }

    //获取当前选中节点子项并展示
    function treeExpand(treeId, treeNode) {
        var treeObj = $.fn.zTree.getZTreeObj("tree");
        var name = treeNode.title;
        //放置查询参数
        $("#title").val(name);
        var children = [];
        $.ajax({
            type: "post",
            url: prefix + "/treeData",
            dataType: "json",
            data: {
                name: name
            },
            success: function (res) {
                if (res.code == 0) {
                    var data = res.data;
                    data.forEach(function (e, index) {
                        //子级文件夹需要由phoenix_crm/export/---->export/
                        var replace = e.name.replace(name, '');
                        var node = {name: replace, isParent: e.isParent, title: e.name};
                        children.push(node);
                    });
                    //给当前选中的nodes动态附子级
                    treeNode.children = children;
                    //更新当前选中的nodes
                    treeObj.updateNode(treeNode);
                    //展开当前选中的nodes，子级不展开
                    treeObj.expandNode(treeNode, true, false, true);
                    //刷新tree赋予子级点击事件
                    treeObj.refresh();
                    //模拟点击搜索按钮
                    $.modal.loading("数据加载中");
                    $.table.search();
                } else {
                    if("未登录或登录超时。请重新登录"==res.msg){
                        window.location=ctx+"login";
                    }else {
                        $.modal.alertWarning("无数据");
                    }
                }
                //20230110增加选中背景
                removeSelectTreeClass();
                $("#"+treeNode.tId+ "_a").addClass("curSelectedNode");
            }
        });
        //放置展示路径信息
        showTitleClickOnTree(name);
    }

    //获取当前选中的文件夹下的子文件夹并渲染
    function zTreeOnClick(event, treeId, treeNode) {
        $.modal.loading("数据加载中");
        treeExpand(treeId, treeNode);
    }

    //树左边加号展开点击事件
    function myTreeOnExpand(event, treeId, treeNode) {
        treeExpand(treeId, treeNode);
    }

    //树左边减号点击事件
    function myTreeOnCollapse(event, treeId, treeNode) {
        //获取当前选中的nodes
        var name = treeNode.title;
        //放置查询参数
        $("#title").val(name);
        //  完成之后调用方法重写顶部面包屑
        showTitleClickOnTree(name);
        $.modal.loading("数据加载中");
        $.table.search();
        //20230110增加选中背景
        removeSelectTreeClass();
        $("#"+treeNode.tId+ "_a").addClass("curSelectedNode");
    }

    //列表文件夹点击事件
    function fileNameClick(title) {
        $("#title").val(title);
        $("#filterFlag").val("no");
        refreshMyTree(title);
    }

    //列表头区域总结事件 tree
    function showTitleClickOnTree(title){
        if (title != "/") {
            var html = $("#showTitle").children("a").get(0).outerHTML;
            var split = title.split("/");
            var length = split.length-1;
            var filepath = "";
            for (var i = 0; i < length; i++) {
                var name = split[i] +"/";
                filepath += name;
                html += '<a href="#" title="'+filepath+'" onclick="fileNameClickOther('+"'"+filepath+"'"+',this);">'+name+'</a>';
            }
            //放置展示参数
            $("#showTitle").html(html);
        }
    }

    //列表头区域点击事件
    function fileNameClickOther(title,e) {
        $(e).nextAll().remove();
        fileNameClick(title);
    }

    //右侧各种点击事件更新树
    function refreshMyTree(title){
        var treeObj = $.fn.zTree.getZTreeObj("tree");
        //判断如果是根目录的话则直接重新初始化树
        if(title == "/"){
            queryPublishCosFilesTree();
            //根目录时需要列表页初始化
            $.modal.loading("数据加载中");
            $.table.search();
            $("#filterFlag").val("");
            return;
        }

        var getNode = treeObj.getNodeByParam("title",title);
        //放置查询参数
        var children = [];
        $.ajax({
            type:"post",
            url:prefix+"/treeData",
            dataType:"json",
            data:{
                name : title
            },
            success:function (res) {
                if (res.code == 0) {
                    var data = res.data;
                    data.forEach(function (e, index) {
                        //子级文件夹需要由phoenix_crm/export/---->export/
                        var replace = e.name.replace(title,'');
                        var node = {name:replace,isParent:e.isParent,title:e.name};
                        children.push(node);
                    });
                    //给当前选中的nodes动态附子级
                    getNode.children = children;
                    //更新当前选中的nodes
                    treeObj.updateNode(getNode);
                    //展开当前选中的nodes，子级不展开
                    treeObj.expandNode(getNode, true, false, true);
                    //刷新tree赋予子级点击事件
                    treeObj.refresh();
                    //模拟点击搜索按钮
                    $.modal.loading("数据加载中");
                    $.table.search();
                    $("#filterFlag").val("");
                }else {
                    if("未登录或登录超时。请重新登录"==res.msg){
                        window.location=ctx+"login";
                    }else {
                        $.modal.alertWarning("无数据");
                    }
                }
                //20230110增加选中背景
                removeSelectTreeClass();
                $("#"+getNode.tId+ "_a").addClass("curSelectedNode");
            }
        });
    }

    //预览图片
    function showImage(filePath) {
        var url = prefix + '/showImage?filePath=' + filePath;
        $.modal.open("图片预览", url , '600', '500',function (index) {
            layer.close(index);
        });
    }

    //下载文件
    function downloadFile(filePath,fileName) {
        $.modal.confirm("确认要下载文件" + fileName + "吗?", function() {
            location.href = prefix + "/downloadFile?filePath=" + filePath+"&fileName="+fileName;
            layer.msg('文件下载中，请稍后…', { icon: 1 });
        });
    }

    //下载文件夹
    function downloadDirectory(title,fileName) {
        $.modal.confirm("确认要下载目录" + fileName + "吗?", function() {
            location.href = prefix + "/downloadDirectory?title=" + title;
            layer.msg('文件下载中，请稍后…', { icon: 1 });
        });
    }

    //批量下载
    function batchDownloadFiles() {
        var prefixPath = $("#title").val();
        var rows = $.table.selectColumns('title');
        if (rows.length == 0) {
            $.modal.alertWarning("请选择要下载的数据");
            return;
        }
        $.modal.confirm("确认要下载选中的" + rows.length + "条数据吗?", function() {
            location.href = prefix + "/batchDownloadFiles?filePaths=" + rows+"&prefixPath="+prefixPath;
            layer.msg('文件下载中，请稍后…', { icon: 1 });
        });
    }

    //点击打开上传页面
    /*function streamUpload(){
        $.modal.open("文件上传",streamPrefix + "/file?param1=cos&param2="+encodeURIComponent(encodeURIComponent($("#title").val())));
    }*/

    //点击打开上传页面
    function webUpload(){
        layer.open({
            skin: 'demo-class',
            type: 2,
            area: [ '1000px', ($(window).height() - 50)+"px"],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0,
            title: "文件上传-"+$("#title").val(),
            content: ctx + "project/webUpload?platform="+$('#platform').val()+"&path="+encodeURIComponent(encodeURIComponent($("#title").val())),
            btn: ['确定', '关闭'],
            // 弹层外区域关闭
            shadeClose: false,
            btn1: function(index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler();
            },
            btn2: function(index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.closeHandler();
                return false;
            },
            cancel: function(index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.closeHandler();
                return false;
            },
        });
    }

    //删除单个文件
    function removeFile(title) {
        $.modal.confirm("确认要删除该文件吗?", function() {
            var url =  prefix + "/removeFile";
            var data = { "title": title };
            $.operate.submit(url, "post", "json", data,function () {
                refreshMyTree($('#title').val());
            });
        });
    }

    //删除文件夹
    function removeDirectory(title) {
        $.modal.confirm("确认要删除该文件夹吗?", function() {
            var url =  prefix + "/removeDirectory";
            var data = { "title": title };
            $.operate.submit(url, "post", "json", data,function () {
                refreshMyTree($('#title').val());
            });
        });
    }

    //批量删除
    function batchRemoveFiles() {
        var rows = $.table.selectColumns('title');
        if (rows.length == 0) {
            $.modal.alertWarning("请选择要删除的数据");
            return;
        }
        $.modal.confirm("确认要删除选中的" + rows.length + "条数据吗?", function() {
            var url =  prefix + "/batchRemoveFiles";
            var data = { "filePaths": rows.join()};
            $.operate.submit(url, "post", "json", data,function () {
                refreshMyTree($('#title').val());
            });
        });
    }

    //重命名
    /*function renameFile(title,fileName) {
        var url =  prefix + "/toRenameFile?title="+title+"&fileName="+fileName;
        $.modal.open("重命名", url);
    }*/

    //重命名
    function renameFile(title,fileName){
        layer.prompt({title: '输入新名称',value: fileName, formType: 0}, function(newName, index){

            if (newName == fileName) {
                layer.close(index);
                renameFile(title,fileName);
                $.modal.alertWarning("新名称和当前名称一致");
                return false;
            }

            if (newName.length > 30) {
                layer.close(index);
                renameFile(title,fileName);
                $.modal.alertWarning("文件名上限30字符");
                return false;
            }
            var formData = {"title":title,"fileName":newName};
            var loadIndex;
            var config = {
                url: prefix + "/renameFile",
                type: "post",
                dataType: "json",
                data: formData,
                beforeSend: function () {
                    loadIndex = layer.load(1, {
                        shade: [0.1,'#fff'] //0.1透明度的白色背景
                    });
                    $.modal.disable();
                },
                success: function(result) {
                    layer.close(loadIndex);
                    if (result.code == web_status.SUCCESS) {
                        $.modal.close();
                        $.modal.msgSuccess(result.msg);
                        $.modal.loading("数据加载中");
                        $.table.refresh();

                        layer.close(index);
                        $.modal.enable();
                    } else if (result.code == web_status.WARNING) {
                        layer.close(index);
                        renameFile(title,fileName);
                        $.modal.alertWarning(result.msg);
                    }  else {
                        if("未登录或登录超时。请重新登录"==result.msg){
                            window.location=ctx+"login";
                        }else {
                            layer.close(index);
                            renameFile(title,fileName);
                            $.modal.alertError(result.msg);
                        }
                    }
                }
            };
            $.ajax(config)
        });
    }

    //查看当前目录的历史版本
    function getHistoryVersion(){
        $.modal.openTab('历史版本',prefix + "/getHistoryVersion?platform="+$('#platform').val()+"&title="+$("#title").val());
    }

    //创建文件夹操作
    function createFolder(){
        var title = $("#title").val();
        layer.prompt({title: '创建文件夹',value: "", formType: 0}, function(folderName, index){
            //^[a-zA-Z]:(((\\(?! )[^/:*?<>\""|\\]+)+\\?)|(\\)?)\s*$
            var regex = /.*[/\\\\:*?|].*/;
            //存在返回true，不存在返回false
            var flag = regex.test(folderName);
            //var number = Math.random()*1000;
            //console.log(flag+"--"+number);
            if (flag) {
                layer.close(index);
                createFolder();
                $.modal.alertWarning("文件夹包含非法字符,请重新输入");
                return false;
            }

            if (/[\u4e00-\u9fa5]/.test(folderName)) {
                layer.close(index);
                createFolder();
                $.modal.alertWarning("文件夹包含中文,请重新输入");
                return false;
            }
            if (folderName.length > 30) {
                layer.close(index);
                createFolder();
                $.modal.alertWarning("文件夹名称上限30字符");
                return false;
            }

            var formData = {"filePath":title,"fileName":folderName};
            var loadIndex;
            var config = {
                url: prefix + "/createFolder",
                type: "post",
                dataType: "json",
                data: formData,
                beforeSend: function () {
                    loadIndex = layer.load(1, {
                        shade: [0.1,'#fff'] //0.1透明度的白色背景
                    });
                    $.modal.disable();
                },
                success: function(result) {
                    layer.close(loadIndex);
                    if (result.code == web_status.SUCCESS) {
                        $.modal.close();
                        $.modal.msgSuccess(result.msg);
                        refreshMyTree(title);
                        layer.close(index);
                        $.modal.enable();
                    } else {
                        if("未登录或登录超时。请重新登录"==result.msg){
                            window.location=ctx+"login";
                        }else {
                            layer.close(index);
                            createFolder();
                            $.modal.alertError(result.msg);
                        }
                    }
                }
            };
            $.ajax(config)
        });
    }

    //一键复制路径
    function copyPath() {
        var title = $("#title").val();//获取文本
        //替换当前平台前缀为空
        title = title.replace(/\\/g,"/");
        var flag = copyText(title); //传递文本
        flag ? layer.msg('复制成功！', {icon: 1}) : layer.msg('复制失败！', {icon: 2});
    }

    function copyText(text) {
        var textarea = document.createElement("input");//创建input对象
        var currentFocus = document.activeElement;//当前获得焦点的元素
        document.body.appendChild(textarea);//添加元素
        textarea.value = text;
        textarea.focus();
        if(textarea.setSelectionRange)
            textarea.setSelectionRange(0, textarea.value.length);//获取光标起始位置到结束位置
        else
            textarea.select();
        try {
            var flag = document.execCommand("copy");//执行复制
        } catch(eo) {
            var flag = false;
        }
        document.body.removeChild(textarea);//删除元素
        currentFocus.focus();
        return flag;
    }

    //编辑跳转
    function editJump() {
        var title = $("#title").val();//获取文本
        //替换当前平台前缀为空
        title = title.replace(/\\/g,"/");
        layer.prompt({title: '跳转路径',value: title, formType: 2, btn:['GO','取消'],area:['430px','36px']}, function(newTitle, index){

            newTitle = newTitle.replace(/\\/g,"/");
            if ( !$.common.endWith(newTitle,"/")) {
                layer.close(index);
                editJump();
                $.modal.alertWarning("路径应以/结尾");
                return false;
            }
            if(newTitle!="/"){
            //    不是根路径的时候不能以斜杠开头
                if ( $.common.startWith(newTitle,"/")) {
                    layer.close(index);
                    editJump();
                    $.modal.alertWarning("非根路径不能以/开始");
                    return false;
                }
            }
            if ( newTitle.indexOf("//") != -1) {
                layer.close(index);
                editJump();
                $.modal.alertWarning("路径不能包含//");
                return false;
            }

            var formData = {"title":newTitle};
            var loadIndex;
            var config = {
                url: prefix + "/checkPathExist",
                type: "post",
                dataType: "json",
                data: formData,
                beforeSend: function () {
                    loadIndex = layer.load(1, {
                        shade: [0.1,'#fff'] //0.1透明度的白色背景
                    });
                    $.modal.disable();
                },
                success: function(result) {
                    layer.close(loadIndex);
                    if (result.code == web_status.SUCCESS) {
                        $.modal.close();
                        //存在则跳转
                        editJumpPath(newTitle);

                        layer.close(index);
                        $.modal.enable();
                    } else if (result.code == web_status.WARNING) {
                        layer.close(index);
                        editJump();
                        $.modal.alertWarning(result.msg);
                    }  else {
                        if("未登录或登录超时。请重新登录"==result.msg){
                            window.location=ctx+"login";
                        }else {
                            layer.close(index);
                            editJump();
                            $.modal.alertError(result.msg);
                        }
                    }
                }
            };
            $.ajax(config);
        });
    }

    function editJumpPath(title){
        $("#title").val(title);
        $("#filterFlag").val("no");

        $.modal.loading("数据加载中");

        title = title.replace(/\\/g,"/");
        var replaceList = title.split("/");
        var thisTitle = "";

        for(var i=0;i<replaceList.length;i++){
            if(i==replaceList.length-1){
                $.table.search();
            }

            var name = replaceList[i];
            if(name==""){
                continue;
            }
            thisTitle = thisTitle  + name + "/";
            jumpPathRefreshMyTree(thisTitle);

        }
    }

    //手动输入路径跳转的方式
    function jumpPathRefreshMyTree(path){

        var treeObj = $.fn.zTree.getZTreeObj("tree");
        var getNode = treeObj.getNodeByParam("title",path);
        //放置查询参数
        var children = [];
        $.ajax({
            type:"post",
            url:prefix+"/treeData",
            dataType:"json",
            async:false,
            data:{
                name : path
            },
            success:function (res) {
                if (res.code == 0) {
                    var data = res.data;
                    data.forEach(function (e, index) {

                        var name = e.name.replace(/\\/g,"/");
                        var replace = name.replace(path,'');
                        var node = {name:replace,isParent:e.isParent,title:e.name};
                        children.push(node);

                    });
                    if(children.length>0){
                        getNode.isParent = true;
                    }else {
                        getNode.isParent = false;
                    }
                    //给当前选中的nodes动态附子级
                    getNode.children = children;
                    //更新当前选中的nodes
                    treeObj.updateNode(getNode);
                    //展开当前选中的nodes，子级不展开
                    treeObj.expandNode(getNode, true, false, true);
                    //刷新tree赋予子级点击事件
                    treeObj.refresh();
                    //模拟点击搜索按钮
                    $("#filterFlag").val("");
                }else {
                    if("未登录或登录超时。请重新登录"==res.msg){
                        window.location=ctx+"login";
                    }else {
                        $.modal.alertWarning("无数据");
                    }
                }
                removeSelectTreeClass();
                $("#"+getNode.tId+ "_a").addClass("curSelectedNode");
            }
        });
    }

    //查看操作日志记录
    function  operationLog(path,name,folderFlag){
        var url = "";
        if(folderFlag){
            url = ctx + "project/publishOperationLog?path="+path;
        }else {
            url = ctx + "project/publishOperationLog?path="+$("#title").val()+"&fileName="+name;
        }
        $.modal.openTab('操作记录',url);
    }

    //在线编辑
    function codeonline(fileName){
        var title = $("#title").val();
        var platform = $("#platform").val();
        var url = prefix + "/codeOnline?path="+title+"&name="+fileName+"&platform="+platform;
        $.modal.openTab('在线编辑',url);
    }

    function removeSelectTreeClass(){
        $(".curSelectedNode").each(
            function(){
                $(this).removeClass("curSelectedNode");
            });
    }

    //新的上传拖拽页面
    function newWebUpload(){
        layer.open({
            skin: 'demo-class',
            type: 2,
            area: [ '1000px', ($(window).height() - 50)+"px"],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0,
            title: "文件上传-"+$("#title").val(),
            content: ctx + "project/webUpload/newWebUpload?platform="+$('#platform').val()+"&path="+encodeURIComponent(encodeURIComponent($("#title").val())),
            btn: ['确定', '关闭'],
            // 弹层外区域关闭
            shadeClose: false,
            btn1: function(index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler();
            },
            btn2: function(index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.closeHandler();
                return false;
            },
            cancel: function(index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.closeHandler();
                return false;
            },
        });
    }

</script>
</body>
</html>